<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajedrez</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Tablero de Ajedrez</h1>
    <div class="tablero">
        {% for j in range(0, col)%}
            <div class="fila">
            {% for i in range(0,num)%}
                <div class="color_{{ (i+j)%2+1 }}"></div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>